.maincontainer{
    /* border:2px solid black; */
    height:3000px;
    width:100%;

}

.navbar1{
    height: 70px;
    width:100%;
    background-color: #101011;
    /* position:fixed;
    top:0%;
    z-index: 1;
 */
}

.navbar1 a img:hover{
    border:2px solid white;
}
   

#signin  a{
color:white;
text-decoration: none;
margin-left: 10px;


}

#signin a:hover{
    border:2px solid white;
    color:#e68a00;
}

#cart a:hover{
    border:2px solid white;
    color:#e68a00;

}
#return a:hover{
    border:2px solid white;
    color:#e68a00;

}
.cart-icon {
    width: 24px;
    height: 24px;
    position: relative;
    cursor: pointer;
    left:30px;
    bottom:-22px;
}

.cart-icon::before,
.cart-icon::after {
    content: '';
    position: absolute;
    border-radius: 4px;
}

.cart-icon::before {
    width: 18px;
    height: 14px;
    background-color: #af0f27;
    top: 4px;
    left: 3px;
    border-radius: 2px;
}

.cart-icon::after {
    width: 18px;
    height: 3px;
    background-color: #e420ca;
    bottom: 0;
    left: 3px;
}

.cart-icon .wheel {
    width: 5px;
    height: 5px;
    background-color: #b10661;
    border-radius: 50%;
    position: absolute;
    bottom: -2px;
}

.cart-icon .wheel.left {
    left: 2px;
}

.cart-icon .wheel.right {
    right: 2px;
}

.cart-icon .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
}

#cart  a{
    color:white;
    text-decoration: none;
    position:relative;
    left:21px;
    bottom:21px;
    
}

#return a{
    color:white;
    text-decoration: none;
    position:relative;
    margin-left:10px;

}
.search-container {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 52px;
    
}

.search-bar {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    height:20px;
}

.search-button {
    padding: 10px 20px;
    background-color: #ff9900;
    color: white;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    height:42px;
}

.search-button:hover {
    background-color: #e68a00;
}

.navbar2{
  
    height:45px;
    width:100%;
    background-color: #232F3E;
    position:relative;
    top:-16px;
    bottom:0px;
    /* position:fixed;
    top:30px; */
    ;

}
.navbar2 ul{
    display:flex;

}
.navbar2 ul li{
    display:flex;
    flex-direction: row;
    
}
.navbar2 li a{
    list-style: none;
    text-decoration: none;
    color:white;
    justify-content: space-around;
    justify-items: center;
    margin-left:20px;
    margin-top:10px;
}

.navbar2 li a:hover{
    border:2px solid white;
}

.amanzonclone{
    height:150px;
    width: 100%;
    background-color: rgb(176, 176, 170);
    margin:0px 0px;
    position:relative;
    top:-36px;
}

.amanzonclone marquee{
    font-size: 35px;
    color:white;
    font-family: cursive;
    font-feature-settings: "aalt";
}

.amanzonclone p{
    text-align: center;
    font-size: 40px;
    margin-top:20px;;
    color:white;
    position:relative;
    top:30px;
    font-weight: bold;
    animation: aman 4s 1s infinite ;
}

@keyframes aman {
   0% {
      text-align:center;
      color:white;
      speed: 2px;


    }
    20%{
        text-align: center;
        color:#bcbbb9;
        background-color: rgb(67, 66, 106);
        font-size: 50px;
        border-radius: 20px;;
     
    
    }

    50%{
        text-align:center;
        color:white;
        background-color: #ff9900;;
       font-size: 40px;
    font-style: italic;}
}

.sectionbackground{
    /* border:2px solid rgb(12, 1, 14); */
    height:280px;
    width:1420px;
   margin-left:30px;
   background-color: rgb(224, 224, 219);
   position:relative;
   top:-35px;
   /* background-image: linear-gradient( to right rgb(223, 104, 223)50% white black); */
   display:flex;
}

#slideleft{
    font-size: 70px;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 2px 1px white;
    position: relative;
    top:50px;

}

#slideleft a{
    color:black;
    text-decoration: none;
}
#slideleft a:hover{
    border:2px solid white;
}

#slideright{
    font-size: 70px;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 2px 1px white;
    position:relative;
    left:730px;
    top:52px;

}
#slideright a{
    color:black;
    text-decoration: none;
}
#slideright a:hover{
    border:2px solid white;
}
.section2{
    /* border:2px solid rgb(12, 1, 14); */
    height:350px;
    width:1420px;
   margin-left:30px;
   background-color: rgb(224, 224, 219);
   position:relative;
   top:-35px;
   display:flex;}

#box1{
    height:300px;
    width:270px;
    border:2px solid white;
    background-color: white;
    margin:10px;
    display:flex;
    flex-direction: column;

}

#child1{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#child1 img{
    width:40%;
    height:80%;}

    
#child2{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#child2 img{
    width:40%;
    height:70%;
    margin-bottom:20px;
    
}

#child3{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#child3 img{
    width:40%;
    height:70%;
    margin-bottom:20px;
    
}
#r3{

    height:120px;
    width:81%;
    margin:10px;
    margin-left:25px;

}

#child4{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#child4 img{
    width:40%;
    height:70%;
    margin-bottom:20px;
    
}
#m3{
    width:40%;
    height:70%;
    margin-bottom:20px;

}
#child5{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#child5 img{
   width: 50%;
   height:30%;
}
 img #phn{
    height: 50%;
    width: 60%;;
}




#one{
    position:relative;
    top:-20px;
}

#three{
    position:relative;
    top:-30px;
    height:20%;
}
#box2{
    height:320px;
    width:270px;
    border:2px solid white;
    background-color: white;
    margin:10px;
    
}
#box3{
    height:300px;
    width:270px;
    border:2px solid white;
    background-color: white;

    margin:10px;
    
}
#box4{
    height:300px;
    width:270px;
    border:2px solid white;
    background-color: white;
    margin:10px;
}
#box5{
    height:300px;
    width:230px;
    border:2px solid white;
    background-color: white;
    margin:10px;
}

.amazonvideos{
    
     height:500px;
     width:1420px;
    margin-left:30px;
    background-color: rgb(224, 224, 219);
    position:relative;
    top:-35px;
    display:flex;
}

#b1{
    /* border:2px solid red; */
    width:45%;
    height:90%;
    margin-left:10px;
    border-radius:10px;
    flex-direction: row;
    background-color: #101011;


}

    #img1{
        /* border:2px solid white; */
        width:95%;
        height:80%;
        margin-left:10px;
        border-radius:10px;


    }

#b1 a p{
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    text-decoration: none;
    position: relative;
    top:5px;
    left:10px;


}
#b2{
    
    width:25%;
    height:90%;
    margin-left:10px;
    border-radius:10px;
    flex-direction: row;
    background-color: white;

}

#b2 p{
    font-size: 25px;
    font-weight: bolder;
    margin-left: 10px;
    ;;
}

#b2 img{
    height:70%;
    width:95%;
}

#b3 img{
    width:95%;
    height:75%;
    position:relative;
    left:10px;

}

#shopnow{
    color:rgb(61, 156, 161);
    font-size: 10px;
    text-decoration: none;
}

#sn{
    font-size: 9px;
    position: relative;
    bottom:30px;;
}

#b3{
   
    width:25%;
    height:90%;
    margin-left:20px;
    border-radius:10px;
    flex-direction: row;
    background-color:white;;

}
#healthcare{
    width:25%;
    height:35%;
    margin-left:10px;
    border-radius:10px;
    flex-direction: row;
    background-color: white;
}







.play-button {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: white;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.play-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.healthcare{
      
    height:762px;
    width:1420px;
   margin-left:30px;
   background-color: rgb(224, 224, 219);
   position:relative;
   top:-35px;
   /* border:2px solid black; */
   display:inline-block;
}

#slider1{
    /* border:2px solid rgb(173, 31, 31); */
    height:200px;
    width:1390px;
    margin-left:10px;
    background-color: white;
    border-radius: 2px;

}

#sr{
    border:2px solid rgb(180, 173, 173);
    font-size: 60px;
    display:inline;
    box-shadow: 5px 5px 5px 5px#e3dede;
    position:relative;
    top:35px;
    opacity:0.4;
  
}

#sr:hover{
    opacity: 1;
    transform: scale(1.2);
   
}

.imgcontainer{
/* 

    border:2px solid black; */
    height:132px;
    width:1260px;
    position:relative;
    top:-65px;
    left:50px;
    justify-content: space-evenly;
}
#sr a{
   color:grey;
   text-decoration: none;

}
#sl{
    border:2px solid rgb(180, 173, 173);
    font-size: 60px;
    display:inline;
    box-shadow: 5px 5px 5px 5px#e3dede;
    position:relative;
    right:-1340px;
    top:-175px;



}
#sl a{
   color:grey;
   text-decoration: none;

}





#slider2{
    /* border:2px solid rgb(173, 31, 31); */
    height:200px;
    width:1390px;
    margin-left:10px;
    background-color: white;
    border-radius: 2px;
    margin-top: 10px;   
    ;

}
#sr1{
    border:2px solid rgb(180, 173, 173);
    font-size: 60px;
    display:inline;
    box-shadow: 5px 5px 5px 5px#e3dede;
    position:relative;
    top:50px;


}
#sr1 a{
   color:grey;
   text-decoration: none;

}

#sl2{
    border:2px solid rgb(180, 173, 173);
    font-size: 60px;
    display:inline;
    box-shadow: 5px 5px 5px 5px#e3dede;
    position:relative;
    right:-1300px;
    top:55px;



}
#sl2 a{
   color:grey;
   text-decoration: none;

}

#slider3{
    /* border:2px solid rgb(173, 31, 31); */
    height:200px;
    width:1390px;
    margin-left:10px;
    background-color: white;
    border-radius: 2px;
    margin-top: 10px;   
    ;

}
#sr3{
    border:2px solid rgb(180, 173, 173);
    font-size: 60px;
    display:inline;
    box-shadow: 5px 5px 5px 5px#e3dede;
    position:relative;
    top:50px;


}
#sr3 a{
   color:grey;
   text-decoration: none;

}

#sl4{
    border:2px solid rgb(180, 173, 173);
    font-size: 60px;
    display:inline;
    box-shadow: 5px 5px 5px 5px#e3dede;
    position:relative;
    right:-1290px;
    top:35px;



}
#sl4 a{
   color:grey;
   text-decoration: none;

}

#para1{
    font-size: 20px;
    font-style: bold;
    font-weight: bolder;
    position: relative;
    top:10px;
    left:10px;
    text-justify:inter-cluster;

}
#seemore{
    color:rgb(37, 93, 123)
}

#footer1{
    height:50px;
    width:1420px;
   margin-left:30px;
   background-color:#41576f;
   
}
#footer1 a {
    color:white;
    text-decoration: none;
    
}

#footer1 p{
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    ;
}

.footer {
    background-color: #232f3e;
    color: #ffffff;
    padding: 20px 0;
    font-size: 14px;
    height: 300px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-section {
    flex: 1;
    padding: 0 20px;
}

.footer-section h3 {
    margin-top: 10px;
    font-size: 16px;
    color: #ffffff;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #cccccc;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #404040;
}

.footer-bottom p {
    margin: 0;
    font-size: 12px;
}
.footimg{
    position:relative;
    top:20px;
    left:500px; 
    border-radius: 20px;
    display:inline;
    image-rendering: auto;

}









